<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <form action="/login" method="post">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" />
      <label for="password">Password</label>
      <input type="text" id="password" name="password" />
      <button type="submit">Login</button>
    </form>
    <a href="/register">Sign Up</a>
    <a href="/logout">Sign Out</a>
  </body>
</html>
